.report_container {
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 13px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 16px;
  background-color: #ffffffef;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.record_container {
  display: flex;
  flex-direction: column;
}

.record_date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.mode_indicator {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: normal;
}

.record_details {
  display: flex;
  justify-content: space-between;
}

.distance,
.kcal,
.time {
  font-size: 18px;
  text-align: center;
  margin: 0 8px;
}

.record_details div {
  width: 100%;
  text-align: center;
}

.pagination {
  margin-top: 16px;
  text-align: center;
}

.recent_active{
  margin-left: 15px;
  margin-top: 40px;
}

.noReport {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
