.report_container {
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 32px;
  background-color: #ffffffef;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.record_selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.record_container {
  display: flex;
  flex-direction: column;
}

.record_container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mode_indicator {
  font-family: "PreRegular";
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: normal;
}

.record_date {
  font-family: "PreRegular";
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: normal;
}

.record_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.distance,
.kcal,
.time {
  font-family: "PreBold";
  font-size: 18px;
  display: flex;
  font-weight: bold;
}

.record_details svg {
  margin-right: 8px; /* 아이콘과 텍스트 사이의 간격 */
}

.record_details div {
  width: 100%;
  text-align: center;
}

.pagination {
  margin-top: 16px;
  text-align: center;
}

.recent_active {
  margin-left: 15px;
  margin-top: 40px;
}

.noReport {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
