.top-button {
  position: fixed;
  bottom: 80px; /* TabBar의 높이 (70px) + 추가 여백 (10px) */
  right: 20px;
  z-index: 1000;
}

.scroll-to-top {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.scroll-to-top:hover {
  opacity: 1;
}
