.SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 100px;
}

.SignUpForm div {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.SignUpLabel {
  margin-bottom: 5px;
}

.SignUpInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #eaeaea;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
}

.SignUpError {
  color: red;
  text-align: left;
  margin-top: 5px;
}
