.SignIn {
  margin-top: 100px;
}

.login_container {
  margin-top: 300px;
}


.login_container .LoginText {
  padding-bottom: 3pxs;
  font-weight: bold;
}

.login_container h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: -40px;
}

.login_container .error {
  color: red;
  text-align: center;
}

.login_container form div {
  margin-bottom: 15px;
}

.login_container label {
  font-size: 16px;
  display: block;
  margin: 0px 5px 20px;
  padding-left: 30px;
  /* padding-left: 10px; */

}

.login_container input {
  width: 100%; /* input 요소의 너비를 늘림 */
  padding: 12px; /* padding을 늘려 input의 높이도 늘림 */
  font-size: 18px; /* 폰트 크기를 키움 */
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 10px auto; /* 중앙 정렬을 위해 상하 좌우 여백 설정 */
  display: block; 

}

.login_container button {
  width: 100%;
  width: 380px; 
  height: 45px;
  padding: 8px;
  background-color: #98bae3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px auto;
  font-size: 18px;
  font-weight: bolder;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login_container .SignInDiv1 {
  margin: 15px auto; /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
  padding-left: 20px; /* 좌측 여백 */
  padding-right: 20px; /* 우측 여백 */
  box-sizing: border-box; /* 전체 크기를 포함하도록 박스 크기 조정 */
  width: 380px;
  /* font-size: 20px; */
}

.login_container .SignInDiv2 {
  margin: 15px auto; /* 좌우 여백을 자동으로 설정하여 중앙 정렬 */
  padding-left: 20px; /* 좌측 여백 */
  padding-right: 20px; /* 우측 여백 */
  box-sizing: border-box; /* 전체 크기를 포함하도록 박스 크기 조정 */
  width: 380px;
}

.loginButton {
  margin-top: 20px;
}

.login_container .loginButton button{
  text-align: center;
  width: 83%; 
  padding: 10px; 
  justify-content: center;
  display: flex;
}
