.SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 100px;

}

.SignUpForm div {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.SignUpLabel {
  margin-bottom: 5px;
}

.SignUpInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #eaeaea;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 5px;
}

.SignUpError {
  padding-left: 17px;
  font-size: 13px;
  font-weight: bold;
  color: rgb(196, 24, 24);
  text-align: left;
  margin-top: 5px;
  width: 100%;
}

.SignUpForm h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.SignUpForm .inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center; /* 중앙 정렬 유지 */
  text-align: center;
  margin: 12px auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 380px;
}


.SignUpForm .inputDiv input {
  font-size: 14px;
  width: 100%; /* input 요소의 너비를 늘림 */
  padding: 7px; /* padding을 늘려 input의 높이도 늘림 */
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 5px auto; 
  display: block; 
}

.SignUpForm .inputDiv select {
  font-size: 14px;
  width: 100%; /* select 요소의 너비를 늘림 */
  padding: 7px; /* padding을 늘려 select의 높이도 늘림 */
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 5px auto;
  display: block;
}

.SignUpForm .inputDiv button {
  border-radius: 10px;
  width: 100%; /* input 요소의 너비를 늘림 */
  padding: 12px; /* padding을 늘려 input의 높이도 늘림 */
  font-size: 18px; /* 폰트 크기를 키움 */
  font-weight: bolder;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 10px auto; /* 중앙 정렬을 위해 상하 좌우 여백 설정 */
  display: block; 
}

