.header2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: white;
}

.header-left {
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
}

.Header-logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.header-back-arrow {
  font-size: 20px;
  cursor: pointer;
}

.header-back-arrow:hover {
  color: #007bff;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-search-toggle {
  border: none;
  background: none;
  padding-right: 15px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.header-search-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.header-search-toggle:hover .header-search-icon {
  transform: scale(1.2);
}

.header-search-container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.header-search-form {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
  background: white;
  border-radius: 30px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-search-input {
  flex: 1;
  height: 40px;
  padding: 10px 15px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
}

.header-search-button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.header-search-button:hover {
  background-color: #0056b3;
}
