.tab-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
}

.tab-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  font-family: "PreBold";
  transform-origin: bottom;
}

.tab-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  font-family: "PreBold";
  color: white;
  transform-origin: bottom;
}

.tab-item img {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}

.tab-item2 img {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
}

.tab-item span {
  font-size: 14px;
}

.tab-item2 span {
  font-size: 14px;
}

.tab-item2:hover {
  transform: scale(1.8);
  background-color: lightgray;
}

.tab-item.active span {
  color: #98bae3;
}



.tab-item.active img {
  filter: brightness(0) saturate(100%) invert(32%) sepia(4%) saturate(6400%)
    hue-rotate(144deg) brightness(94%) contrast(92%);
}



.tab-item-run {
  position: relative;
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transform: translateY(-30px);
  font-family: "VitroCore";
}

.tab-item-run img {
  width: 36px;
  height: 36px;
}
