.Weather {
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: 100;
}

.WeatherForecast {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px;
  gap: 15px;
}

.ForecastItem {
  flex: 0 0 auto;
  width: 120px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  box-sizing: border-box;
  overflow: hidden;
}

.ForecastItem img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.ForecastItem h3,
.ForecastItem p {
  margin: 0;
  padding: 3px;
}
