.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.15);
  text-align: left;
  color: white;
  max-width: 300px;
  margin: 0 auto;
  font-family: "PreThin";
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.3) 90%
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
  transform-style: preserve-3d;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: overlay;
  z-index: 1;
  transition: opacity 0.5s;
}

.card.flip {
  transform: rotateY(720deg) scale(1.1); /* 기본 회전 */
}

.card.clicked {
  transform: rotateY(1080deg) scale(1.3); /* 클릭 시 강력한 회전 및 확대 */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6); /* 그림자 강도 증가 */
}

.tier-unranked {
  background-color: gray;
}

.tier-bronze {
  background-color: #cd7f32;
}

.tier-silver {
  background-color: silver;
}

.tier-gold {
  background-color: rgb(255, 215, 50);
}

.tier-platinum {
  background-color: #3ed4be;
}

.tier-diamond {
  background-color: #4ee2ec;
}

.tier-unranked-text {
  color: gray;
}

.tier-bronze-text {
  color: #cd7f32;
}

.tier-silver-text {
  color: silver;
}

.tier-gold-text {
  color: rgb(255, 215, 50);
}

.tier-platinum-text {
  color: #3ed4be;
}

.tier-diamond-text {
  color: #4ee2ec;
}

.tier_modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.tier_modal-content {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  max-width: 380px;
  width: 80%;
  height: 300px;
  text-align: center;
  position: relative;
  overflow-y: auto;
}

.tier_modal-content ul {
  list-style: none;
  padding-left: 20px;
  line-height: 1.6;
}

.tierHelp {
  cursor: pointer;
  font-size: 28px;
  transition: color 0.3s;
}

.tierHelp:hover {
  color: #ccc;
}

.tierexplain {
  text-align: left;
  font-size: 18px;
  margin-top: 8px;
  padding-top: 5px;
  font-family: PreBold;
  line-height: 1.6;
}

.experience-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 5px;
  margin: 10px 0;
}

.filler {
  background-color: white;
  height: 100%;
  transition: width 0.5s ease-in-out;
}
