.MyPageHome {
  margin-top: 80px;
}

.MyPageh3 {
  padding-left: 40px;
}

.MyPageTier {
  margin-top: 40px;
  padding-top: 20px;
}

.MyPageEditIcon {
  display: flex;
  margin-left: auto;
  width: 120px;
}

.tier-header {
  display: flex;
  align-items: center;
}

.tier-header h2 {
  margin-right: 8px; /* 적절한 여백 설정 */
}


