.SoloModeStart {
  margin-top: 60px;
  text-align: center;
  position: relative;
  padding: 20px;
  font-family: "VitroCore";
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.SoloModeStartHeader {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 180px;
  margin-left: 20px;
}

.SoloModeStartDistance {
  font-size: 80px;
  font-weight: bold;
  font-style: oblique;
}

.SoloModeStartButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.iconButton {
  width: 120px;
  height: 120px;
  background-color: #98bae3;
  border: none;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s ease;
}
