/* src/styles/Community/ArticleEdit.css */
.ArticleEdit {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  font-family: "PreRegular";
  margin-top: 20%;
}

.ArticleEdit h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.ArticleEdit .form-group {
  margin-bottom: 20px;
}

.ArticleEdit .form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.ArticleEdit .form-group input,
.ArticleEdit .form-group textarea,
.ArticleEdit .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ArticleEdit .form-group textarea {
  height: 150px;
  resize: vertical;
}

.ArticleEdit button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.ArticleEdit button:hover {
  background-color: #0056b3;
}


.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* 필요에 따라 너비를 조정하세요 */
 
}

.button-container .cancel {
  margin-left: 20px;
  background-color: #d2d2d2; /* 취소 버튼의 배경색을 변경하고 싶다면 추가 */
}
