/* src/styles/Community/ArticleList.css */
.ArticleList {
  padding: 20px;
}

.article-filters {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* 버튼 간격 */
  margin-bottom: 20px; /* 필터링 버튼과 리스트 간격 */
}

.article-filters .article-create-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.article-wrapper {
  margin-top: 20px;
}

.Article-search-bar {
  width: calc(100% - 60px); /* 버튼의 공간을 고려하여 너비 조정 */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.article-create-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

