/* src/styles/Community/CommentSection.css */

.comment-section {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.comment-section h3 {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: #333;
  padding: 0;
}

.comment-list-ul {
  padding: 0;
}

.comment-container {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  position: absolute;
  margin-left: 300px;
  top: 10px;
  transition: color 0.3s;
}

.menu-button:hover {
  color: #98bae3;
}

.comment-options {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 120px;
}

.comment-options.show {
  display: block;
}

.comment-options button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #555;
}

.comment-options button:hover {
  background-color: #f5f5f5;
}

.reply-button {
  background-color: #98bae3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 250px;
  align-self: flex-end;
  transition: background-color 0.3s;
}

.reply-button:hover {
  background-color: #1b65bf;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* 오른쪽 하단 정렬 */
  margin-bottom: 10px;
}

.comment-writer {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.create-comment, .cancel-reply {
  background-color: #98bae3;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
}

.create-comment:hover, .cancel-reply:hover {
  background-color: #1b65bf;
}

.cancel-reply {
  padding: 6px 12px; /* 크기 조정 */
  margin-left: 8px; /* 버튼 사이의 간격 */
}

.date {
  margin-left: 10px;
  font-size: 12px;
  color: #666;
}
