.LoginHome-container {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.LoginHomeMapView {
  position: absolute; /* 절대 위치 지정 */
  margin-top: 220px;
  top: 0; /* 부모 컨테이너의 상단에 위치 */
  left: 0; /* 부모 컨테이너의 왼쪽에 위치 */
  height: 100vh; /* 뷰포트의 전체 높이를 채우도록 설정 */
  width: 100vw; /* 뷰포트의 전체 너비를 채우도록 설정 */
  background: transparent; /* 배경을 투명하게 설정 */
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0) 55%
  );
  z-index: 0;
}

.speed-image {
  width: 100px;
  height: 100px;
}

.circle-button {
  width: 100px; /* 원의 너비 */
  height: 100px; /* 원의 높이 */
  border-radius: 50%; /* 원형으로 만들기 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 이미지가 원 밖으로 나가지 않도록 */
  overflow: hidden;
  background-color: #ffffff; /* 원의 배경색 */
  cursor: pointer; /* 클릭 가능하도록 포인터 커서 */
}

.circle-button img {
  width: 80%; /* 이미지 크기 */
  height: 80%;
}
