.LoginHome-container {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.Today_item,
.Today_km {
  text-align: center;
}

.MainButton-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  
}

/* 팀모드 클릭 시 나오는 화면의 CSS */
.team-options-popup {
  position: absolute;
  background-color: #98bae3;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* 팝업 버튼 가로로 배열 */
  display: flex;
  flex-direction: row;
  gap: 20px; /* 버튼 사이의 간격 */
}

/* 말풍선 모양 만들기 */
.team-options-popup:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-60px);
  border-width: 20px;
  border-style: solid;
  border-color: #98bae3 transparent transparent transparent;
}

/* 팝업 안의 버튼 스타일 */
.team-options-popup button {
  flex: 1;
  margin: 0;
  padding: 10px;
  border: none;
  background-color: #365475;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* 버튼의 너비를 100%로 설정 */
}

/* 버튼 hover 상태 */
.team-options-popup button:hover {
  background-color: #0056b3;
}

.LoginHomeReportItem {
  margin-top: 50px;
}

.solomodeButton {
  width: 30px;
}

.Button2 {
  width: 50px; 
  display: inline-block;
  text-align: center; 
}
