.LoginHome-container {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.Today_item,
.Today_km {
  text-align: center;
}

.MainButton-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
}

.LoginHomeMapView {
  position: absolute; /* 절대 위치 지정 */
  margin-top: 100px;
  top: 0; /* 부모 컨테이너의 상단에 위치 */
  left: 0; /* 부모 컨테이너의 왼쪽에 위치 */
  height: 100vh; /* 뷰포트의 전체 높이를 채우도록 설정 */
  width: 100vw; /* 뷰포트의 전체 너비를 채우도록 설정 */
  background: transparent; /* 배경을 투명하게 설정 */
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0) 45%
  );
  z-index: 0;
}
