.LoginHome-container {
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: 100vh; 
  width: 100%; 
}

.Today_item,
.Today_km {
  text-align: center;
}

.MainButton-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
  
}

.LoginHomeMapView {
  margin-top: 150px;
  position: absolute;
  top: 0;
  left: 0;
  height: 55%; /* 컨테이너의 높이를 따라가도록 설정 */
  width: 100%; /* 컨테이너의 너비를 따라가도록 설정 */
  background: transparent; /* 배경을 투명하게 설정 */
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 70%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 80%);
  z-index: 0; 
}


