.custom-swal-popup2 {
  text-align: center;
  width: 500px;
  max-width: 80%;
  padding: 20px;
  height: 250px;
  border-radius: 20px;
  background-color: white;
}

.custom-swal-title2 {
  font-size: 20px;
  color: black;
  margin-top: 20px;
}

.swal2-button-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.swal2-styled2 {
  border: none;
  border-radius: 15px;
  padding: 15px 30px;
  cursor: pointer;
}

.swal2-confirm2 {
  background-color: #5981b1;
  color: white;
  font-size: 15px;
}

.swal2-cancel2 {
  background-color: #365475;
  color: white;
  font-size: 15px;
}
