html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  transition: background-color 0.3s ease, color 0.3s ease,
    backdrop-filter 0.3s ease;
}

.header-container.scrolled .header {
  background-color: white;
  backdrop-filter: none;
}

.logo {
  padding-left: 5px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.auth-links {
  display: flex;
  gap: 20px;
}

.auth-links h3 {
  font-size: 14px;
  padding-right: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.header-container.scrolled .auth-links h3 {
  color: black;
}

.auth-links h3:hover {
  text-decoration: underline;
}
