@keyframes runAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.LogOutHomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.LogOutHome {
  font-size: 30px;
  font-family: VitroCore;
  color: #98bae3;
  font-style: oblique;
}

.LogOutHomeRunus {
  margin-top: 20px; 
  animation: runAnimation 5s linear infinite; 
}
