/* .LogOut-container {
  margin-top: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: "times new roman";
  text-align: center;
  padding-top: 50px;
  font-size: 25px;
  font-weight: 1000;
  color: #333;
  animation: fadeInUp 3s ease-out forwards;
}

.subtitle {
  color: #333;
  text-align: center;
  font-weight: 500;
  padding-bottom: 50px;
  animation: fadeInUp 3s ease-out forwards;
  font-size: 15px;
}

.image {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}

.image img {
  width: 100%;
  height: auto;
  animation: fadeInUp2 1s ease-out forwards;
  margin-right: 200px;
  margin-bottom: 40px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp2 {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.LogOut-container2 {
  margin-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tag {
  font-size: 16px;
  line-height: 26px;
  height: auto;
  padding-left: 18px;
}
.title2 {
  font-family: "times new roman";
  text-align: center;
  font-size: 25px;
  font-weight: 1000;
  color: #333;
}

.tag {
  display: inline-block;
  background-color: #98bae3;
  color: blue;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-left: 155px;
}

.image2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  margin-left: 20px;
  width: 300px;
}

.imageItem {
  width: 100%;
  height: auto;
  margin-right: 120px;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.imageItem.animate {
  opacity: 1;
  transform: translateY(0);
}

.LogOut-container3 {
  padding-top: 20px;
}

.LogOut-container3 .tag {
  margin-top: 30px;
}

.title3 {
  font-family: "times new roman";
  text-align: center;
  font-size: 28px;
  font-weight: 1000;
  color: #333;
}

.image3 {
  width: 400px;
}

.imageItem2 {
  width: 100%;
  height: auto;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.imageItem2.animate {
  opacity: 1;
  transform: translateY(0);
} */

.LogOut-container {
  position: relative;
  padding-top: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url("../../assets/Running8.gif");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

.LogOut-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* 녹색 배경색과 투명도 설정 */
  pointer-events: none;
}

.title {
  font-family: "times new roman";
  text-align: center;
  font-size: 28px;
  font-weight: 1000;
  color: white;
  animation: fadeInUp 3s ease-out forwards;
  padding-top: 250px;
}

.subtitle {
  color: white;
  text-align: center;
  font-weight: 500;
  padding-bottom: 50px;
  animation: fadeInUp 3s ease-out forwards;
  font-size: 15px;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  height: auto;
  animation: growShrink 5s infinite;
  margin-right: 200px;
  margin-bottom: 40px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes growShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.LogOut-container2 {
  margin-top: 50px;
}

.tag {
  font-size: 16px;
  line-height: 26px;
  height: auto;
  padding-left: 18px;
}

.title2 {
  font-family: "times new roman";
  text-align: center;
  font-size: 25px;
  font-weight: 1000;
  color: #333;
}

.tag {
  display: inline-block;
  background-color: #98bae3;
  color: blue;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  margin-left: 160px;
}

.image2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  margin-left: 20px;
  width: 300px;
}

.imageItem {
  width: 100%;
  height: auto;
  margin-right: 120px;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.imageItem.animate {
  opacity: 1;
  transform: translateY(0);
}

.LogOut-container3 {
  padding-top: 20px;
}

.LogOut-container3 .tag {
  margin-top: 30px;
}

.title3 {
  font-family: "times new roman";
  text-align: center;
  font-size: 28px;
  font-weight: 1000;
  color: #333;
}

.image3 {
  width: 400px;
}

.imageItem2 {
  width: 100%;
  height: auto;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.imageItem2.animate {
  opacity: 1;
  transform: translateY(0);
}
