.TeamUserList {
  padding: 20px;
  border: none;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 60px;
}

.TeamUserList-container {
  display: flex;
  justify-content: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 80px;
  border: none;
  border-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: black;
  transform: skew(-10deg); /* 수평 및 수직으로 기울이기 */
}

.user-nickname {
  margin-left: 10px;
  font-family: VitroCore;
  font-style: oblique;
  font-size: 24px;
}
