.TeamUserList {
  padding: 20px;
  border: none;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 60px;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  /* border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black; */
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
  background-color: #98bae3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.user-info {
  flex: 1;
}

.user-nickname {
  margin-left: 10px;
  font-weight: bold;
}
