.team-saying {
  position: relative;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
  overflow: hidden; /* 텍스트가 애니메이션 동안 넘어가는 것을 방지 */
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.8);
}

.fade-in {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  animation: fadeOut 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 애니메이션 시작 시 약간 아래에서 시작 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 애니메이션 종료 시 원위치 */
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0); /* 애니메이션 시작 시 원위치 */
  }
  to {
    opacity: 0;
    transform: translateY(20px); /* 애니메이션 종료 시 약간 아래로 이동 */
  }
}
