.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  position: relative;
}

.back-button {
  position: absolute;
  left: 25px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.header-title {
  margin: 0;
  text-align: center;
  flex-grow: 1;
  font-size: 22px;
}

.qr-reader-container {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #5981b1;
  border-radius: 10px;
  margin-top: 120px;
}

.qr-reader-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
